<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title To do list
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap")
        link(rel="stylesheet", href="style.css")
        script(src="script.dev.js")
    body

        .container
            h1 To-do List
            section.newTask
                input#newTaskInput
                ion-icon.icon#btn__addNewTask(name="add")
            section.taskList
                h2 Tasks
                ul.taskList__ul
                    


        script(src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js")
                    




                    //- li.taskList__task.taskList__task--incompleted
                    //-     ion-icon.icon.taskList__task__icon__check--incompleted(name="ellipse-outline")
                    //-     p 文字內容
                    //-     ion-icon.icon.taskList__task__icon__trash(name="trash-outline")
                    //- li.taskList__task.taskList__task--completed
                    //-     ion-icon.icon.taskList__task__icon__check--completed(name="checkmark-circle")
                    //-     p xxxxxx
                    //-     ion-icon.icon.taskList__task__icon__trash(name="trash-outline")